window {
  background-color: #251f17;
  border: 1px solid #4f4539;
}

#input {
  background-color: #2f2921;
  color: #ede0d4;
  border: 1px solid #9b8f80;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px;
  font-size: 14px;
}

#input:focus {
  border-color: #f4bd6e;
  outline: none;
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  padding: 4px;
}

#scroll {
  margin: 0 4px 4px 4px;
}

#entry {
  padding: 8px 12px;
  border-radius: 8px;
  color: #ede0d4;
}

#entry:selected {
  background-color: #624000;
  color: #ffddb2;
}

#text {
  font-size: 13px;
}

#img {
  margin-right: 8px;
}
