window {
  background-color: #1d2024;
  border: 1px solid #42474e;
  font-family: "3270 Nerd Font SemCond";
}

#input {
  background-color: #272a2f;
  color: #e1e2e8;
  border: 1px solid #8c9199;
  padding: 8px 12px;
  margin: 8px;
  font-size: 20px;
}

#input:focus {
  border-color: #9fcafc;
  outline: none;
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  padding: 4px;
}

#scroll {
  margin: 0 4px 4px 4px;
}

#entry {
  padding: 8px 12px;
  color: #e1e2e8;
}

#entry:selected {
  background-color: #174974;
  color: #d0e4ff;
}

#text {
  font-size: 20px;
}

#img {
  margin-right: 8px;
}
